a {
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
}

.boton {
     border-radius: 4px;
     padding: 10px;
}
.boton:link{
    background-color: rgb(8, 0, 121);
 }
 
.boton:visited{
    background-color: rgb(192, 0, 0);
}

.boton:active{
    color: rgb(163, 147, 147) ;
}

.boton:hover {
    background-color: rgb(229, 255, 0);
}

div:not(.maxi){
    border: solid 1px rgb(0, 0, 0);
    border-radius: 5px;
    padding: 20px;
}

ul li:nth-child(3){
    background-color: blue;
    padding: 10px;
    list-style: none;
    color: white;
    border-radius: 4px;
    width: 100px;
}



